.data-set-warp {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 240px;

  .data-set-data {
  }

  .data-set-dargabled {
    margin-top: 10px;
    width: 100%;
    height: 180px;
    overflow: auto;
    border: 1px solid #aaa;
  }
}
